.about-us__wrapper {
  padding: 28px;
  padding-left: 29px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  margin-bottom: 30px;
  padding-right: 45px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.about-us__flower {
  margin-left: 10px;
}

.about-us__money {
  margin-bottom: 8px;
}

.about-us__heart {
  margin-top: 5px;
  margin-left: 9px;
  margin-bottom: 3px;
}

.about-us__ball {
  margin-left: 5px;
  margin-top: 1px;
}

.about-us__rocket {
  margin-top: 3px;
  margin-left: -5px;
  margin-bottom: 9px;
}

.about-us__gift {
  margin-top: 1px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.about-us__item svg {
  fill: #63d1bb;
}

.about-us__item--materials {
  padding-right: 70px;
}

.about-us__item:nth-child(5) {
  padding-right: 0;
}

.about-us__columns {
  margin: 0;
  margin-top: 14px;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    padding: 0;
    padding-top: 49px;
  }

  .about-us__title {
    margin-bottom: 50px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 83px;
  }

  .about-us__item {
    width: 334px;
    margin-bottom: 57px;
    padding-right: 0;

    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item:nth-child(3n+3) {
    margin-bottom: 0;
  }

  .about-us__columns {
    width: 250px;
  }

  .about-us__item:nth-child(1) {
    order: 1;
  }

  .about-us__item:nth-child(1) .about-us__columns {
    width: 225px;
  }

  .about-us__item:nth-child(2) {
    order: 3;
  }

  .about-us__item:nth-child(3) {
    order: 5;
  }

  .about-us__item:nth-child(4) {
    order: 2;
  }

  .about-us__item:nth-child(5) {
    order: 4;
  }

  .about-us__item:nth-child(5) .about-us__columns {
    width: 300px;
  }

  .about-us__item:nth-child(6) {
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    padding-top: 59px;
    padding-left: 176px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 643px;
    margin-bottom: 90px;
  }

  .about-us__item {
    width: 350px;
  }

  .about-us__item:nth-child(4),
  .about-us__item:nth-child(5),
  .about-us__item:nth-child(6) {
    width: 293px;
  }
}
