.add {
  display: none;
  position: absolute;
  top: 1361px;
  left: 50%;
  width: 320px;
  margin: 0 auto;
  margin-left: -160px;
  padding-top: 31px;
  padding-bottom: 49px;

  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);

  z-index: 10;
}

.add--show {
  display: block;

  animation: bounce 0.6s;
}

.add--opacity {
  opacity: 0.1;
}

.add__title {
  display: block;
  width: 143px;
  margin: 0 auto;
  margin-bottom: 12px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.add__size {
  margin: 0;
  margin-bottom: 23px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
}

.add__size-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
  text-align: center;
}

.add__list-item {
  display: inline-block;
}

.add__size-button {
  width: 85px;
  padding: 15px 0;

  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;

  border: 2px solid #ececec;

  &:hover,
  &:focus {
    border-color: #c7c7c7;
  }
}

.add__size-button--active {
  border-color: #62d1ba;
}

.add__button {
  color: #ffffff;

  background-color: #63d1bb;

  border: none;
}

@media (min-width: $tablet-width) {
  .add {
    top: 1531px;
    width: 568px;
    margin-left: -284px;
    padding-top: 33px;
  }

  .add__title {
    margin-bottom: 15px;
    width: 100%;

    font-size: 30px;
    line-height: 57px;

    text-align: center;
  }

  .add__size {
    margin-bottom: 22px;

    font-size: 17px;
  }

  .add__size-button {
    width: 115px;
  }

  .add__size-list {
    margin-bottom: 32px;
  }

  .add__button {
    width: 325px;
  }
}
