.contacts {
  position: relative;
  margin-bottom: 40px;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 36px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 28px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.contacts__addresses {
  padding: 0 30px;
}

.contacts__data {
  display: flex;
  width: 260px;
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__data:nth-child(2) {
  margin-bottom: 37px;
}

.contacts__column {
  display: block;
  width: 150px;
  margin-left: 30px;
}

.contacts__column--email {
  width: 180px;

  cursor: pointer;

  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;

    opacity: 0.3;
  }
}

.contacts__column--email:hover::after {
  background-color: #46c1ae;
}

.contacts__link {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;

  border-bottom: #62d1ba;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 37px;

  background-color: #f4e8d8;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__iframe {
  width: 100%;
  height: 100%;
}

.contacts__iframe--nojs {
  display: none;
}

.contacts__button {
  margin-bottom: 30px;
}

@media (max-width: $mobile-width-only) {
  .contacts__button {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts__wrapper {
    width: 669px;
    padding-top: 57px;
  }

  .contacts__title {
    position: relative;
    margin-bottom: 48px;
    margin-left: -5px;
    padding: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 4px;
    width: 47px;
    height: 81px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contacts__addresses {
    display: flex;
    margin-bottom: 20px;
    padding: 0;
  }

  .contacts__column {
    align-self: baseline;
    width: 229px;
    margin-left: 24px;
  }

  .contacts__column--email {
    width: 200px;
  }

  .contacts__data {
    width: 334px;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__map {
    margin-bottom: 55px;

    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__button {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1048px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 136px;
  }

  .contacts__wrapper {
    width: 350px;
    margin: 0;
    padding-top: 69px;
    padding-left: 174px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__title::after {
    top: -10px;
    left: -107px;
  }

  .contacts__addresses {
    flex-wrap: wrap;
    width: 310px;
  }

  .contacts__column {
    width: 225px;
    margin-left: 25px;
  }

  .contacts__column--email {
    width: 206px;
    margin-left: 24px;
  }

  .contacts__data:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 79px;
  }

  .contacts__map {
    position: absolute;
    top: 80px;
    right: 0;
    width: 527px;
    height: 455px;
    margin: 0;

    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__button {
    position: absolute;
    bottom: 104px;
    left: 173px;
    margin: 0;
  }
}
