.contacts {
  margin-bottom: 38px;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts__title {
  padding: 0 30px;
  padding-top: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.contacts__table {
  padding: 30px;
}

.contacts__column {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__column--first-column {
  display: block;
  width: 48px;
  padding: 12px 0;
  padding-right: 30px;
}

.contacts__link {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;

  border-bottom: #62d1ba;
}

.contacts__map {
  width: 100%;
  height: 457px;

  background-color: #f4e8d8;
  background-image: url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts__iframe {
  width: 100%;
  height: 100%;
}

.contacts__button {
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 669px;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__line {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    width: 1048px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 510px;
    margin: 0;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__column {
    width: 150px;
  }

  .contacts__map {
    width: 527px;
    height: 427px;
  }

  .contacts__button {
    margin: 0;
  }
}
