.copyright {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
  padding-top: 2px;

  text-decoration: none;

  fill: #63d1bb;
  stroke: #63d1bb;

  &:hover,
  &:focus {
    fill: #46c1ae;
    stroke: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    stroke: #46c1ae;

    opacity: 0.3;
  }
}

.copyright__designed {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;
}

.copyright__icon {
  margin-top: -7px;
  margin-right: -6px;
  width: 40px;
  height: 40px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding-right: 10px;
    padding-top: 13px;
  }

  .copyright__academy {
    margin-left: 24px;
  }

  .copyright__icon {
    width: 37px;
    margin-top: -9px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-right: 52px;
    width: 181px;
  }
}
