.copyright {
  display: flex;
  justify-content: space-between;
  width: 182px;
  margin: 0 auto;
  padding-top: 2px;
}

.copyright__designed {
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;
}

.copyright__academy {
  margin-top: -7px;
  margin-left: 21px;
}

.copyright__icon {
  width: 40px;
  height: 40px;

  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding-right: 10px;
    padding-top: 13px;
  }

  .copyright__academy {
    margin-left: 24px;
  }

  .copyright__icon {
    width: 37px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-right: 73px;
    width: 185px;
  }
}
