.cute-stuff {
  position: relative;
}

.cute-stuff__wrapper {
  min-height: 282px;

  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fafafa;
}

.cute-stuff__title {
  width: 250px;
  margin: 0 auto;
  padding-top: 70px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .cute-stuff {
    margin-bottom: 45px;
  }

  .cute-stuff::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 24px;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
  }

  .cute-stuff__wrapper {
    min-height: 686px;
  }

  .cute-stuff__title {
    width: 497px;
    padding-top: 95px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .cute-stuff {
    margin-bottom: 120px;
  }

  .cute-stuff__wrapper {
    width: 1150px;
    margin: 0 auto;
  }

  .cute-stuff__title {
    width: 630px;
    font-size: 53px;
    line-height: 57px;
  }
}
