.footer {
  padding: 25px 0;

  background-color: #f1f1f1;
}

@media (max-width: $mobile-width-only) {
  .footer__logo-footer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 55px 0;
  }

  .footer__logo-footer {
    width: 182px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    justify-content: space-between;
  }

  .footer__logo-footer {
    width: 102px;
    padding-left: 78px;
  }
}
