.footer {
  padding: 25px 0;
  padding-top: 28px;

  background-color: #f1f1f1;
}

@media (max-width: $mobile-width-only) {
  .footer__logo-footer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 50px 0;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin: 0 auto;
  }

  .footer__logo-footer {
    width: 176px;
    height: 51px;
    padding-left: 9px;

    &:hover .footer__logo-image,
    &:focus .footer__logo-image {
      fill: #46c1ae;
    }

    &:active .footer__logo-image {
      fill: #46c1ae;

      opacity: 0.3;
    }
  }

  .footer__logo-image {
    width: 114px;
    height: 34px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    justify-content: space-between;
    width: 1200px;
  }

  .footer__logo-footer {
    width: 102px;
    padding-left: 78px;
  }
}
