.nav__logo {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__management {
  position: relative;
  padding: 17px 0;
  padding-top: 21px;

  text-align: center;

  border-bottom: 1px solid #ececec;
}

.nav__toggle {
  position: absolute;
  bottom: 33px;
  right: 29px;
  width: 20px;
  height: 14px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav__toggle--closed {
  width: 21px;
  height: 20px;

  background-image: url("../img/icon-menu-close.svg");
}

.nav__toggle--noJS {
  display: none;
}

.nav__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item {
  border-bottom: 1px solid #ececec;
}

.nav__link {
  display: block;
  padding: 30px 76px;
  padding-right: 62px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.nav__item--basket,
.nav__item--search {
  position: relative;
}

.nav__search-icon,
.nav__cart-icon {
  position: absolute;
  left: 32px;
  top: 35px;
  width: 18px;
  height: 19px;

  opacity: 0.2;

  fill: #221f1f;
}

.nav__cart-icon {
  width: 21px;
  height: 18px;
}

.nav__search {
  padding: 30px;
  padding-left: 76px;

  border: none;
  border-top: 1px solid #ececec;
}

.nav__item--search,
.nav__link--basket {
  &:hover .nav__cart-icon,
  &:focus .nav__cart-icon,
  &:hover .nav__search-icon,
  &:focus .nav__search-icon {
    fill: #63d1bb;

    opacity: 1;
  }

  &:active .nav__cart-icon,
  &:active .nav__search-icon {
    fill: #63d1bb;

    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .nav__item--receipts,
  .nav__item--sell-out,
  .nav__delivery {
    display: none;
  }

  .nav__list--closed {
    display: none;
  }

  .nav__list--noJS,
  .nav__list--opened, {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
  }

  .nav--index {
    background-color: #ffffff;
  }

  .nav__wrapper-bottom {
    width: 50%;
    padding-top: 17px;

    background-color: #f1f1f1;

    order: 2;
  }

  .nav__wrapper-bottom--index {
    background-color: #fafafa;
  }

  .nav__toggle {
    display: none;
  }

  .nav__management {
    min-width: 48%;

    text-align: left;

    background-color: #ffffff;
  }

  .nav__logo {
    display: block;
    width: 113px;
    height: 46px;
    margin: 0 48px;
  }

  .nav__list--nav,
  .nav__list--user {
    display: flex;
  }

  .nav__list--nav {
    width: 50%;

    background-color: #f1f1f1;

    order: 1;
  }

  .nav__list--index {
    background-color: #fafafa;
  }

  .nav__list--user {
    min-width: 52%;

    background-color: #ffffff;

    border-bottom: 1px solid #ececec;
  }

  .nav__delivery {
    width: 250px;
    padding-left: 103px;

    font-size: 15px;
    line-height: 24px;
    color: #444444;

    order: 2;
  }

  .nav__item {
    border: none;
  }

  .nav__link {
    padding: 17px 0;
    padding-left: 48px;
  }

  .nav__link--tablet-bottom {
    font-size: 15px;
    line-height: 24px;
  }

  .nav__link--basket {
    padding: 31px;
    padding-bottom: 33px;
    padding-left: 82px;
  }

  .nav__link--form {
    padding-left: 37px;
  }

  .nav__item--search {
    width: 82px;

    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .nav__item--search::after {
    left: 34px;
    top: 37px;
  }

  .nav__search {
    padding: 0;
    width: 83px;
    height: 100%;

    border: none;
  }

  .nav__link--search {
    padding: 32px 0;
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .nav__wrapper {
    display: flex;
    justify-content: center;
  }

  .nav__wrapper-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .nav__list--offers {
    display: flex;
    min-width: 540px;

    order: 2;
  }

  .nav__management {
    min-width: 262px;
    padding: 0;

    text-align: center;

    border: none;
    order: 1;
  }

  .nav__logo {
    width: 149px;
    height: 72px;
    margin: 0;
    margin-left: 13px;
    margin-top: 10px;
  }

  .nav__list--nav {
    width: 437px;
    padding-left: 47px;

    background-color: #ffffff;

    order: 0;
  }

  .nav__list--user {
    min-width: 397px;

    border: none;
    order: 2;
  }

  .nav__delivery {
    min-width: 453px;
    padding-top: 17px;
    padding-right: 53px;

    text-align: right;
  }

  .nav__link {
    padding: 32px 0;
    padding-right: 36px;
  }

  .nav__link--basket {
    padding-left: 82px;
  }

  .nav__link--tablet-bottom {
    font-size: 17px;
  }

  .nav__link--desktop-bottom {
    margin-right: 10px;
    padding: 18px 0;
    padding-left: 50px;
    font-size: 15px;
  }

  .nav__link--catalog {
    margin-right: 34px;

    border-right: 1px solid #ececec;
  }
}
