.nav__management {
  position: relative;
  padding: 17px 0;
  padding-top: 21px;

  text-align: center;

  border-bottom: 1px solid #ececec;
}

.nav__toggle {
  position: absolute;
  bottom: 33px;
  right: 29px;
  width: 20px;
  height: 14px;

  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav__toggle--closed,
.nav__toggle--noJS {
  width: 21px;
  height: 20px;

  background-image: url("../../img/icon-menu-close.svg");
}

.nav__list-nav,
.nav__list-user,
.nav__list-offers {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item {
  border-bottom: 1px solid #ececec;
}

.nav__link {
  display: block;
  padding: 30px 76px;
  padding-right: 62px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link--basket {
  position: relative;
}

.nav__link--basket::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 35px;
  width: 21px;
  height: 18px;

  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;

  opacity: 0.2;
}

.nav__item--search {
  position: relative;
}

.nav__item--search::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 35px;
  width: 18px;
  height: 19px;

  background-image: url("../../img/icon-search.svg");
  background-repeat: no-repeat;

  opacity: 0.2;
}

.nav__search {
  padding: 30px;
  padding-left: 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  border: none;
  border-top: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .nav__item--receipts,
  .nav__item--sell-out,
  .nav__delivery {
    display: none;
  }

  .nav__list--closed {
    display: none;
  }

  .nav__list--noJS,
  .nav__list--opened, {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    background-color: #f1f1f1;
  }

  .nav--index {
    background-color: #fafafa;
  }

  .nav__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .nav__toggle {
    display: none;
  }

  .nav__management {
    min-width: 48%;

    text-align: left;

    background-color: #ffffff;
  }

  .nav__logo {
    display: block;
    width: 113px;
    height: 46px;
    margin: 0 48px;
  }

  .nav__list-nav,
  .nav__list-user {
    display: flex;
  }

  .nav__list-nav {
    width: 50%;

    order: 1;
  }

  .nav__list-user {
    min-width: 52%;

    background-color: #ffffff;

    border-bottom: 1px solid #ececec;
  }

  .nav__delivery {
    width: 250px;
    padding: 17px 0;
    padding-left: 103px;

    font-size: 15px;
    line-height: 24px;
    color: #444444;

    order: 2;
  }

  .nav__item {
    border: none;
  }

  .nav__link {
    padding: 17px 0;
    padding-left: 48px;
  }

  .nav__link--tablet-bottom {
    font-size: 15px;
    line-height: 24px;
  }

  .nav__link--basket {
    padding: 32px;
    padding-left: 84px;
  }

  .nav__link--form {
    padding-left: 37px;
  }

  .nav__item--search {
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .nav__search {
    padding: 0;
    width: 83px;
    height: 100%;

    border: none;
  }

  .nav__search::placeholder {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 1150px;
    margin: 0 auto;
  }

  .nav__wrapper {
    display: flex;
    width: 1150px;
    margin: 0 auto;
  }

  .nav__list-offers {
    display: flex;
    min-width: 473px;

    order: 2;
  }

  .nav__management {
    min-width: 262px;
    padding: 0;

    text-align: center;

    order: 1;
  }

  .nav__logo {
    margin: 22px auto;
  }

  .nav__list-nav {
    width: 437px;
    padding-left: 51px;

    background-color: #ffffff;

    border-bottom: 1px solid #ececec;

    order: 0;
  }

  .nav__list-user {
    min-width: 399px;

    order: 2;
  }

  .nav__delivery {
    min-width: 450px;
    margin-left: auto;
    padding-right: 50px;

    text-align: right;
  }

  .nav__link {
    padding: 32px 0;
    padding-right: 36px;
  }

  .nav__link--basket {
    padding-left: 82px;
  }

  .nav__link--tablet-bottom {
    font-size: 17px;
  }

  .nav__link--desktop-bottom {
    margin-right: 10px;
    padding: 18px 0;
    padding-left: 52px;
    font-size: 15px;
  }

  .nav__link--catalog {
    margin-right: 36px;

    border-right: 1px solid #ececec;
  }
}
