.nav {
  position: relative;

  text-align: center;
}

.nav__burgers,
.nav__close {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 20px;
  height: 14px;

  background-image: url("../../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav__close {
  top: 10px;
  width: 21px;
  height: 20px;

  background-image: url("../../img/icon-menu-close.svg");
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item {
  border-top: 1px solid #ececec;
}

.nav__item--receipts,
.nav__item--sell-out {
  display: none;
}

.nav__link {
  display: block;
  width: 182px;
  margin: 0 auto;
  padding: 30px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: left;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__search {
  width: 182px;
  padding: 30px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  border: none;
  border-top: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__list--closed,
.nav__close--closed,
.nav__burgers--opened,
.nav__burgers--noJS {
  display: none;
}

.nav__list--noJS,
.nav__close--noJS,
.nav__list--opened,
.nav__close--opened {
  display: block;
}

@media (max-width: $mobile-width-only) {
  .nav__list--closed,
  .nav__close--closed,
  .nav__burgers--opened,
  .nav__burgers--noJS {
    display: none;
  }

  .nav__list--noJS,
  .nav__close--noJS,
  .nav__list--opened,
  .nav__close--opened {
    display: block;
  }

  .nav__item--delivery {
    display: none;
  }

  .nav__item-logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav__logo {
    display: none;
  }

  .nav__list {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin: 0 auto;
  }

  .nav__burgers,
  .nav__close {
    display: none;
  }

  .nav__item {
    border: none;
  }

  .nav__item--catalog-absolute {
    position: absolute;
    top: 80px;
    left: 0;
  }

  .nav__item--form-absolute {
    position: absolute;
    top: 80px;
  }

  .nav__item--delivery {
    position: absolute;
    top: 110px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    width: 1150px;
  }

  .nav__item--receipts,
  .nav__item--sell-out {
    position: absolute;
    display: block;
    top: 80px;
  }

  .nav__item--receipts {
    left: 0;
  }

  .nav__item--sell-out {
    left: 300px;
  }

  .nav__item--catalog-absolute,
  .nav__item--form-absolute {
    position: static;
  }

  .nav__item--catalog-absolute {
    order: 1;
  }

  .nav__item--form-absolute {
    order: 2;
  }

  .nav__item-logo {
    order: 3;
  }

  .nav__item:nth-child(4) {
    order: 4;
  }

  .nav__item:nth-child(5) {
    order: 4;
  }
}
