.options__item {
  display: block;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  background-color: #63d1bb;

  &:active {
    color: rgba(255, 255, 255, 0.302);
  }
}

.option__item-wrapper {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 27px 0;

  background-position: right;
  background-repeat: no-repeat;
}

.options__item--toys {
  background-color: #56c3b2;
}

.option__item-wrapper--interior {
  background-image: url("../../img/icon-interior.svg");
  background-size: 40px 62px;
}

.option__item-wrapper--toys {
  padding-bottom: 29px;

  background-color: #56c3b2;
  background-image: url("../../img/icon-toy.svg");
  background-size: 60px 60px;
}

@media (min-width: $tablet-width) {
  .options {
    display: flex;
    width: 670px;
    margin: 0 auto;
    margin-top: -105px;
  }

  .options__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .options {
    margin-top: -104px;
    width: 1048px;
  }
}
