.product {
  position: relative;
}

.product::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.product__wrapper {
  padding: 30px;
  padding-top: 28px;
  padding-bottom: 42px;
}

.product__title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.product__sub-title {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.product__title-wrapper {
  margin-bottom: 21px;
}

.product__descritption {
  margin: 0;
  margin-bottom: 18px;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product__table {
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;

  border-collapse: collapse;
}

.product__line {
  border-bottom: 1px solid #ececec;
}

.product__column-table {
  padding: 9px 0;
  padding-bottom: 10px;
}

.product__column--first-column {
  display: block;
  width: 97px;
}

.product__image {
  margin-bottom: 18px;

  background-color: #eeeef0;
}

.product__price {
  display: block;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}

.product__button {
  width: 228px;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    padding: 0 50px;
    padding-bottom: 69px;
  }

  .product__wrapper {
    position: relative;
    padding: 0;
  }

  .product__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .product__title {
    margin: 0;
    margin-left: -3px;

    font-size: 43px;
    line-height: 50px;
  }

  .product__sub-title {
    width: 127px;
    padding-top: 8px;

    text-align: center;
  }

  .product__table {
    margin-bottom: 56px;
  }

  .product__column {
    display: flex;
    flex-direction: column;
  }

  .product__feature {
    align-self: end;
    width: 290px;
  }

  .product__descritption {
    width: 285px;
    margin: 0;
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .product__line {
    display: flex;
  }

  .product__image {
    position: absolute;
    top: 108px;
    right: 0;
    width: 333px;
    height: 404px;
  }

  .product__price,
  .product__button {
    margin: 0 auto;
  }

  .product__price {
    width: 147px;
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 24px;
  }

  .product__button {
    width: 258px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding-bottom: 95px;
  }

  .product__title-wrapper {
    flex-direction: row-reverse;
    position: absolute;
    left: 19px;
    width: 680px;
  }

  .product__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product__sub-title {
    padding-top: 15px;

    line-height: 17px;
  }

  .product__wrapper {
    position: relative;
    padding-left: 176px;
  }

  .product__table {
    margin-bottom: 110px;
  }

  .product__feature {
    width: 293px;
    padding-top: 107px;
  }

  .product__descritption {
    width: 300px;
    margin-bottom: 48px;
  }

  .product__image {
    top: -50px;
    width: 525px;
    height: 636px;

    z-index: -1;
  }

  .product__button {
    width: 261px;
  }
}
