.product-catalog {
  margin-bottom: 32px;
  padding: 30px;
  padding-bottom: 0;
}

.product-catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-catalog__item {
  display: flex;
  flex-direction: column-reverse;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 31px;

  border: 1px solid #ededed;

  &:hover .product-catalog__wrapper,
  &:focus .product-catalog__wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product-catalog__wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product-catalog__item:last-child {
  margin-bottom: 0;
}

.product-catalog__wrapper {
  padding: 27px;
  padding-bottom: 25px;
}

.product-catalog__name {
  display: block;
  margin: 0;
  margin-bottom: 4px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product-catalog__link {
  text-decoration: none;
}

.product-catalog__specifications {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product-catalog__price {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  border-top: 1px solid #ededed;
}

.product-catalog__icon {
  width: 20px;
  height: 19px;

  opacity: 0.2;

  &:hover,
  &:focus {
    fill: #63d1bb;

    opacity: 1;
  }

  &:active,
  &:active {
    fill: #63d1bb;

    opacity: 0.3;
  }
}

.product-catalog__image {
  background-color: #ececee;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .product-catalog {
    margin-top: 81px;
    padding: 0;
  }

  .product-catalog__wrapper {
    width: 50%;
    padding: 0;
    padding-top: 25px;
  }

  .product-catalog__item {
    display: flex;
    flex-direction: row-reverse;
    min-height: 333px;
    margin-bottom: 53px;

    width: 665px;
  }

  .product-catalog__image {
    width: 334px;
    height: 333px;
  }

  .product-catalog__name {
    width: 231px;
    margin-left: 26px;
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 24px;
  }

  .product-catalog__item:nth-child(2) .product-catalog__name {
    margin-bottom: 8px;
  }

  .product-catalog__specifications {
    margin-bottom: 175px;
    margin-left: 27px;

    font-size: 15px;
  }

  .product-catalog__item:nth-child(2) .product-catalog__specifications {
    margin-bottom: 172px;
  }

  .product-catalog__price {
    width: 270px;
    margin-left: 31px;
    padding: 22px 0;

    font-size: 17px;
  }

  .product-catalog__icon {
    top: 21px;
    right: 32px;
  }

  .product-catalog__item:nth-child(3) .product-catalog__specifications {
    margin-bottom: 151px;
  }
}

@media (min-width: $desktop-width) {
  .product-catalog {
    width: 1050px;
    margin: 0 auto;
  }

  .product-catalog__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .product-catalog__item {
    flex-direction: column-reverse;
    width: 314px;
    margin: 0;
    margin-bottom: 57px;
    margin-right: 50px;
  }

  .product-catalog__item:nth-child(3n) {
    margin-right: 0;
  }

  .product-catalog__wrapper {
    width: 100%;
  }

  .product-catalog__item:nth-child(2) .product-catalog__name {
    margin-bottom: 5px;
  }

  .product-catalog__specifications {
    width: 220px;
    margin-bottom: 38px;
  }

  .product-catalog__item:nth-child(2) .product-catalog__specifications {
    margin-bottom: 38px;
  }

  .product-catalog__item:nth-child(3) .product-catalog__specifications {
    margin-bottom: 14px;
  }

  .product-catalog__image {
    width: 100%;
    height: 462px;
  }

  .product-catalog__price {
    width: 256px;
    margin: 0 27px;
    padding-bottom: 25px;
  }

  .product-catalog__icon {
    top: 22px;
    right: 4px;
  }
}
