.reviews {
  position: relative;
}

.reviews::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.reviews__wrapper {
  padding: 27px 30px;
  padding-bottom: 50px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.reviews__message {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__column {
  margin-bottom: 29px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.reviews__email {
  margin: 0;
  margin-top: 3px;

  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__arrow {
  display: inline-block;
  width: 125px;
  height: 50px;
  margin-bottom: 38px;

  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #ececec;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__arrow--forth {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__arrow--back {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__message-space {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .reviews__button {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    width: 768px;
    margin-bottom: 88px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -80px;
    left: 0;
    height: 24px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 77px;
    padding-bottom: 47px;
  }

  .reviews__title {
    margin-bottom: 48px;
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;

    order: -1;
  }

  .reviews__arrow {
    margin: 0;
    width: 80px;

    border: none;
  }

  .reviews__button {
    align-self: baseline;
    width: 144px;
    margin: 0;
    margin-left: auto;

    order: -1;
  }

  .reviews__message {
    width: 650px;
    margin-bottom: 59px;

    font-size: 17px;
  }

  .reviews__name {
    letter-spacing: 0.7px;
  }

  .reviews__column {
    margin: 0;
  }

  .reviews__controller {
    margin-top: 4px;
    margin-left: 243px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1051px;
    margin-bottom: 82px;
  }

  .reviews::after {
    bottom: -90px;
  }

  .reviews__wrapper {
    width: 873px;
    margin: 0;
    padding-top: 71px;
    padding-bottom: 95px;
    padding-left: 177px;
    padding-right: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__message {
    width: 800px;
    margin-bottom: 40px;
  }

  .reviews__name {
    letter-spacing: 0.1px;
  }

  .reviews__button {
    align-self: flex-end;
    margin-bottom: 44px;
  }

  .reviews__arrow {
    width: 85px;
  }

  .reviews__controller {
    margin-top: 2px;
    margin-left: auto;
  }

  .reviews__message-space {
    display: block;
  }
}
