.social-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 149px;
  margin: 0 auto;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
  text-align: center;
}

.social-list::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: -55px;
  width: 260px;
  height: 1px;

  background-color: #e5e5e5;
}

.social-list__item {
  display: inline-block;
  margin-right: 36px;
}

.social-list__item:nth-child(1) {
  margin-right: 41px;
}

.social-list__item:nth-child(3n) {
  margin: 0;
}

.social-list__link {
  text-decoration: none;

  fill: #221f1f;

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: #46c1ae;
  }

  &:active .social-list__icon {
    fill: #46c1ae;

    opacity: 0.3;
  }
}

.social-list__insta {
  width: 22px;
  height: 21px;

  fill: #221f1f;
}

.social-list__link--twitter {
  margin-right: 7px;
}

@media (min-width: $tablet-width) {
  .social-list {
    width: 143px;
    margin: 0;
    padding-top: 6px;
    padding-left: 6px;

    border: none;
  }

  .social-list::after {
    display: none;
  }

  .social-list__item {
    margin-right: 39px;
  }

  .social-list__link--twitter {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding-left: 77px;
  }
}
