.social-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
  text-align: center;
}

.social-list::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: -55px;
  width: 260px;
  height: 1px;

  background-color: #e5e5e5;
}

.social-list__item {
  display: inline-block;
}

.social-list__link {
  text-decoration: none;
}

.social-list__insta {
  width: 22px;
  height: 21px;

  fill: #221f1f;
}

.social-list__link--twitter {
  margin-right: 7px;
}

@media (min-width: $tablet-width) {
  .social-list {
    width: 140px;
    margin: 0;

    border: none;
  }

  .social-list::after {
    display: none;
  }

  .social-list__link--twitter {
    margin-right: 0;
  }

  .social-list__item:nth-child(1) {
    margin-right: 6px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding-left: 72px;
  }
}
