.social-list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;
  text-align: center;
}

.social-list__item {
  display: inline-block;
}

.social-list__link {
  text-decoration: none;
}
