@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  width: 230px;
  margin: 0 auto;
  padding: 14px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  border: 2px solid #444444;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.302);

    background-color: #444444;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
